<!DOCTYPE html>
<html><head>
<style>
html, body {margin: 0; height: 100%; overflow: hidden; width:100vw }

@keyframes slide-in {
    100% { transform: translateX(calc(100vw + 200px)); }
}
</style>
    </head><body style="display: flex;align-items: center;justify-content: center; width:100vw; overflow:hidden; height:100vh; position:relative">
<img style="position: absolute; top: 0px; width: 100px; left: -100px;" src="https://www.gifanimate.com/data/media/217/cavallo-immagine-animata-0271.gif">
  <button onclick="horse()">horse</button>
</body></html>

<script>
    let horseCount = 0;
    let horseSounds = [];
    function sleep(ms) {
	  return new Promise(resolve => setTimeout(resolve, ms));
	}
    async function _audio(speed, noise) {
	horseCount += 1;
	const time = window.innerWidth / speed;
	for(let i = 0; i < 100 * time / 2; i++) {
		try {
		noise.volume += 1 / (Math.floor(100 * time / 2));
		}
		catch {}
		await sleep(10);
	}
	for(let i = 0; i < 100 * time / 2; i++) {
		try {
		noise.volume -= 1 / (Math.floor(100 * time / 2));
		}
		catch {}
		await sleep(10);
	}
	noise.volume = 0;
	if (horseCount > 0) {
		horseCount -= 1;
	}

	 const index = horseSounds.indexOf(noise);
	if (index > -1) { // only splice if item is found
	  horseSounds.splice(index, 1); // 2nd parameter means remove one item only
	}
    }

    async function horse() {
	console.log(horseSounds);
        const horse = document.createElement("img");
        horse.style.position = "absolute";
        horse.style.top = Math.random() * (window.innerHeight - 100) + "px";
        horse.src="https://www.gifanimate.com/data/media/217/cavallo-immagine-animata-0271.gif";
        horse.style.width="100px";
        horse.style.left = "-100px";
	horse.style.userSelect = "none";
        horse.className = "slide-in";
        
	let speed = 3000 + Math.random() * 100;
	a = new Audio("{{ url_for('static', filename='cool.mp3') }}");
	a.play();
	_audio(speed / 2, a);
        const duration = window.innerWidth / speed;
        horse.style.animation = `slide-in ${duration}s forwards linear`;

        document.body.appendChild(horse);
    }


</script>

