<!DOCTYPE html>
<html><head>
<style>
html, body {margin: 0; height: 100%; overflow: hidden; width:100vw }

@keyframes slide-in {
    100% { transform: translateX(calc(100vw + 200px)); }
}
</style>
    </head><body style="display: flex;align-items: center;justify-content: center; width:100vw; overflow:hidden; height:100vh; position:relative">
<img style="position: absolute; top: 0px; width: 100px; left: -100px;" src="https://www.gifanimate.com/data/media/217/cavallo-immagine-animata-0271.gif">
  <button onclick="horse()">horse</button>
	    <input type="color" id="colour" />
</body></html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    let uid = Math.floor(Math.random() * 100000)
    var socket = io();
    let horseCount = 0;
    let horseSounds = []
    let colour = -1;

    function sleep(ms) {
	  return new Promise(resolve => setTimeout(resolve, ms));
	}
    async function _audio(speed, noise) {
	horseCount += 1;
	const time = window.innerWidth / speed;
	for(let i = 0; i < 100 * time / 2; i++) {
		try {
		noise.volume += 1 / (Math.floor(100 * time / 2));
		}
		catch {}
		await sleep(10);
	}
	for(let i = 0; i < 100 * time / 2; i++) {
		try {
		noise.volume -= 1 / (Math.floor(100 * time / 2));
		}
		catch {}
		await sleep(10);
	}
	noise.volume = 0;
	if (horseCount > 0) {
		horseCount -= 1
	}

	 const index = horseSounds.indexOf(noise);
	if (index > -1) { // only splice if item is found
	  horseSounds.splice(index, 1); // 2nd parameter means remove one item only
	}
    }

    async function horse(speed = 0, top = -1, _colour = colour) {
        const horse = document.createElement("img");
        horse.style.position = "absolute";
	if (top == -1) {
		top = Math.random();
	}
	horse.style.top = top * (window.innerHeight - 100) + "px"; 

        horse.src="https://www.gifanimate.com/data/media/217/cavallo-immagine-animata-0271.gif";
        horse.style.width="100px";
        horse.style.left = "-100px";
	horse.style.userSelect = "none";
        horse.className = "slide-in";
       	if (speed == 0) {
		speed = 250 + Math.random() * 100;
		if (Math.floor(Math.random() * 30) == 2) {
			speed = 3000;
		}
		socket.send({ "speed" : speed, "uid" : uid, "top" : top, "colour" : colour});
	}
       if (speed == 3000) {
		a = new Audio("{{ url_for('static', filename='cool.mp3') }}");
		a.play();
		_audio(speed / 2, a);
	}
	else 
	    {

		let a =  new Audio("{{ url_for('static', filename='horse.mp3') }}");
		a.volume = 0;
		a.play()
		_audio(speed, a);
		horseSounds.push(a)
		if (horseCount > 10) {
			let deadHorse = horseSounds.shift();
			deadHorse.pause();
		}

	    }
        const duration = window.innerWidth / speed;
        horse.style.animation = `slide-in ${duration}s forwards linear`;
	if (_colour != -1){
		horse.style.filter = `saturate(500%) brightness(100%) hue-rotate(${_colour}deg)`;
	}

        document.body.appendChild(horse);
    }

    socket.on("horse", function(data) {
	    if (data["uid"] != uid) {
		horse(data["speed"], data["top"], data["colour"]);
	    }
    });
    let colourPicker = document.getElementById("colour");
    colourPicker.addEventListener("input", function (event) {
	   colour = hexToHue(event.target.value);
    });
 
    function hexToHue(hex) {
    const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);

    let r = parseInt(result[1], 16);
    let g = parseInt(result[2], 16);
    let b = parseInt(result[3], 16);

    r /= 255, g /= 255, b /= 255;
    let max = Math.max(r, g, b), min = Math.min(r, g, b);
    let h = (max + min) / 2;

    if (max == min){
        h = 0; // achromatic
    } else {
        var d = max - min;
        switch(max) {
            case r: h = (g - b) / d + (g < b ? 6 : 0); break;
            case g: h = (b - r) / d + 2; break;
            case b: h = (r - g) / d + 4; break;
        }

        h /= 6;
    }

    h = Math.round(h*360);
    return h;
}
</script>

