<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<style>
@keyframes slide-in {
    100% { transform: translateX(calc(100vw + 200px)); }
}

   .boom {
	   position: absolute;
	   opacity: 0;
   }
</style>
<head>

<title>sorry.horse | 502: Bad gateway</title>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" id="cf_styles-css" href="/cdn-cgi/styles/main.css" />
</head>
<body onload="start()">
<div id="cf-wrapper">
    <div id="cf-error-details" class="p-0">
        <header class="mx-auto pt-10 lg:pt-6 lg:px-8 w-240 lg:w-full mb-8">
            <h1 class="inline-block sm:block sm:mb-2 font-light text-60 lg:text-4xl text-black-dark leading-tight mr-2">
                <span class="inline-block">Bad gateway</span>
                <span class="code-label">Error code 502</span>
            </h1>
            <div>
                Visit <a href="https://sorry.horse" target="_blank" rel="noopener noreferrer">cloudflare.com</a> for more information.
            </div>
        </header>
        <div class="my-8 bg-gradient-gray">
            <div class="w-240 lg:w-full mx-auto">
                <div class="clearfix md:px-8">
                    <div id="cf-browser-status" class=" relative w-1/3 md:w-full py-15 md:p-0 md:py-8 md:text-left md:border-solid md:border-0 md:border-b md:border-gray-400 overflow-hidden float-left md:float-none text-center">
  <div class="relative mb-10 md:m-0">

    <span class="cf-icon-browser block md:hidden h-20 bg-center bg-no-repeat"></span>
    <span class="cf-icon-ok w-12 h-12 absolute left-1/2 md:left-auto md:right-0 md:top-0 -ml-6 -bottom-4"></span>

  </div>
  <span class="md:block w-full truncate">You</span>
  <h3 class="md:inline-block mt-3 md:mt-0 text-2xl text-gray-600 font-light leading-1.3">

    Browser

  </h3>

  <span class="leading-1.3 text-2xl text-green-success">Working</span>

</div>
                    <div id="cf-cloudflare-status" class=" relative w-1/3 md:w-full py-15 md:p-0 md:py-8 md:text-left md:border-solid md:border-0 md:border-b md:border-gray-400 overflow-hidden float-left md:float-none text-center">
  <div class="relative mb-10 md:m-0">
    <a href="https://sorry.horse" target="_blank" rel="noopener noreferrer">
    <span class="cf-icon-cloud block md:hidden h-20 bg-center bg-no-repeat"></span>
    <span class="cf-icon-ok w-12 h-12 absolute left-1/2 md:left-auto md:right-0 md:top-0 -ml-6 -bottom-4"></span>
    </a>
  </div>
  <span class="md:block w-full truncate">Melbourne</span>
  <h3 class="md:inline-block mt-3 md:mt-0 text-2xl text-gray-600 font-light leading-1.3">
  <a href="https://sorry.horse" target="_blank" rel="noopener noreferrer">
    Cloudflare
  </a>
  </h3>

  <span class="leading-1.3 text-2xl text-green-success">Working</span>

</div>
                    <div id="cf-host-status" class="cf-error-source relative w-1/3 md:w-full py-15 md:p-0 md:py-8 md:text-left md:border-solid md:border-0 md:border-b md:border-gray-400 overflow-hidden float-left md:float-none text-center">
  <div class="relative mb-10 md:m-0">

    <span class="cf-icon-server block md:hidden h-20 bg-center bg-no-repeat"></span>
    <span class="cf-icon-error w-12 h-12 absolute left-1/2 md:left-auto md:right-0 md:top-0 -ml-6 -bottom-4"></span>

  </div>
  <span class="md:block w-full truncate">slow.sorry.horse</span>
  <h3 class="md:inline-block mt-3 md:mt-0 text-2xl text-gray-600 font-light leading-1.3">

    Host

  </h3>

  <span class="leading-1.3 text-2xl text-red-error">Horse</span>

</div>
                </div>
            </div>
        </div>

        <div class="w-240 lg:w-full mx-auto mb-8 lg:px-8">
            <div class="clearfix">
                <div class="w-1/2 md:w-full float-left pr-6 md:pb-10 md:pr-0 leading-relaxed">
                    <h2 class="text-3xl font-normal leading-1.3 mb-4">What happened?</h2>
                    <p>The web server reported a bad gateway error.</p>
                </div>
                <div class="w-1/2 md:w-full float-left leading-relaxed">
                    <h2 class="text-3xl font-normal leading-1.3 mb-4">What can I do?</h2>
                    <p class="mb-6">He will be here in a minute.</p>
                </div>
            </div>
        </div>

        <div class="cf-error-footer cf-wrapper w-240 lg:w-full py-10 sm:py-4 sm:px-8 mx-auto text-center sm:text-left border-solid border-0 border-t border-gray-300">
    <p class="text-13">
      <span class="cf-footer-item sm:block sm:mb-1">Cloudflare Ray ID: <strong class="font-semibold">9da0ae0bec6c90a0</strong></span>
      <span class="cf-footer-separator sm:hidden">&bull;</span>
      <span id="cf-footer-item-ip" class="cf-footer-item hidden sm:block sm:mb-1">
        Your IP:
        <button type="button" id="cf-footer-ip-reveal" class="cf-footer-ip-reveal-btn">Click to reveal</button>
	<span class="hidden" id="cf-footer-ip"><img src="https://www.gifanimate.com/data/media/217/cavallo-immagine-animata-0271.gif" style="height: 20px; display:inline-block; width:auto" /></span>
        <span class="cf-footer-separator sm:hidden">&bull;</span>
      </span>
      <span class="cf-footer-item sm:block sm:mb-1"><span>Performance &amp; security by</span> <a rel="noopener noreferrer" href="https://sorry.horse" id="brand_link" target="_blank">Cloudflare</a></span>

    </p>

    <img id = "boom" />

    <script>(function(){function d(){var b=a.getElementById("cf-footer-item-ip"),c=a.getElementById("cf-footer-ip-reveal");b&&"classList"in b&&(b.classList.remove("hidden"),c.addEventListener("click",function(){c.classList.add("hidden");a.getElementById("cf-footer-ip").classList.remove("hidden")}))}var a=document;document.addEventListener&&a.addEventListener("DOMContentLoaded",d)})();</script>
  </div><!-- /.error-footer -->

    </div>
</div>
</body>
<img class="boom" src="https://camo.githubusercontent.com/f8b464953b985c9736a66f08999cf30b775bfce4fc500ad7501d55ba180b06bd/68747470733a2f2f6d65646961322e67697068792e636f6d2f6d656469612f76312e59326c6b50545a6a4d446c694f5455794f475a6e616d646f4e5456785a48646f616d64774d544135654770794e484932636a5177656a6c34626e56694e574a705a475a315a535a6c634431324d56397a64476c6a613256796331397a5a5746795932676d5933513963772f704b574342764865764c634d552f323030772e676966" />
</html>

<script>
    let horseCount = 0;
    let horseSounds = []
    let horseID = 0;
    function sleep(ms) {
	  return new Promise(resolve => setTimeout(resolve, ms));
	}
    async function _audio(speed, noise) {
	horseCount += 1;
	const time = window.innerWidth / speed;
	for(let i = 0; i < 100 * time / 2; i++) {
		try {
		noise.volume += 1 / (Math.floor(100 * time / 2));
		}
		catch {}
		await sleep(10);
	}
	for(let i = 0; i < 100 * time / 2; i++) {
		try {
		noise.volume -= 1 / (Math.floor(100 * time / 2));
		}
		catch {}
		await sleep(10);
	}
	noise.volume = 0;
	if (horseCount > 0) {
		horseCount -= 1
	}

	 const index = horseSounds.indexOf(noise);
	if (index > -1) { // only splice if item is found
	  horseSounds.splice(index, 1); // 2nd parameter means remove one item only
	}
    }

    async function explode(horse) {
        	const boom = document.createElement("img");
		boom.style.position = "absolute";

		boom.style.top = horse.style.top;
        boom.style.left = "-100px";
		boom.style.width="100px";

	    boom.src = "{{ url_for('static', filename='boom.gif') }}" + "?t=" + Date.now();
	  var style = window.getComputedStyle(horse);
	    boom.style.transform = style.transform
	    boom.style.pointerEvents = "none";
	    horse.remove();
	    document.body.appendChild(boom);
	    await sleep(800);
	    boom.remove();
    }
    async function horse() {
	console.log(horseSounds);
        const horse = document.createElement("img");
        horse.style.position = "absolute";
        horse.style.top = Math.random() * (window.innerHeight - 100) + "px";
        horse.src="https://www.gifanimate.com/data/media/217/cavallo-immagine-animata-0271.gif";
        horse.style.width="100px";
        horse.style.left = "-100px";
	horse.style.userSelect = "none";
        horse.className = "slide-in";
	    horse.addEventListener("click", function () { explode(horse); });
        
	let speed = 25 + Math.random() * 25;
	let a =  new Audio("{{ url_for('static', filename='horse.mp3') }}");
	a.volume = 0;
	a.play()
	_audio(speed, a);

        const duration = window.innerWidth / speed;
        horse.style.animation = `slide-in ${duration}s forwards linear`;

        document.body.appendChild(horse);
    }

    async function start()
    {
	    await sleep(10000)
	    await horse()
	    await sleep(20000)
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await horse()
	    await sleep(30000)
	    while (true) {
		    await horse()
		    await sleep(100)
	    }
    }
</script>

